@model GomukuWebsite.Models.AVAModel
<!DOCTYPE html>

<script>
    //sets defaults on page load
    $(document).ready(function () {
        $('#divAI1upload').hide();
        $('#divAI2upload').hide();
        $('#selectedAI1')[0].selectedIndex = 0;
        $('#selectedAI2')[0].selectedIndex = 0;

        //binds checkbox funtions on document load
        $("#chkNewAI1").change(function () {
            chkChangeAI1(this);
        });
        $("#chkNewAI2").change(function () {
            chkChangeAI2(this);
        });
    });

    //chk: reference to the checkbox that was clicked to see if it is checked or not
    //function responible for toggling the upload new/select AI options
    //only applies to the first AI selection
    function chkChangeAI1(chk)
    {
        if (chk.checked) {
            $('#divAI1upload').show();
            $('#divAI1select').hide();
            $('#selectedAI1')[0].selectedIndex = 0;
            
        }
        else
        {
            $('#divAI1select').show();
            $('#divAI1upload').hide();
            $('#AI1').val(null);
        }
    }

    //chk: reference to the checkbox that was clicked to see if it is checked or not
    //function responible for toggling the upload new/select AI options
    //only applies to the second AI selection
    function chkChangeAI2(chk) {
        if (chk.checked) {
            $('#divAI2upload').show();
            $('#divAI2select').hide();
            $('#selectedAI2')[0].selectedIndex = 0;
        }
        else {
            $('#divAI2select').show();
            $('#divAI2upload').hide();
            $('#AI2').val(null);
        }
    }
</script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h3>AI vs AI</h3>
        <h4>@ViewBag.ErrorMessage</h4>
        @using (Html.BeginForm("UploadAVA", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {       
            <div style="width:100%; float:left;">
                <div style="float: left; width: 40%">
                    <label>Upload New</label>
                    @Html.CheckBoxFor(m => m.newAI1, new { id = "chkNewAI1" })
                    
                    <br />
                    <div id="divAI1upload" name="" divAI1upload"">
                        <label>Name</label>
                        @Html.TextBox("ID1", "", new { type = "TextBox", @maxlength = "10" })

                        <br />

                        <label>Uplaod AI 1</label>
                        <input type="file" name="AI1" id="AI1" />
                    </div>
                    <div id="divAI1select">
                        <label>Select AI 1</label>
                        @Html.DropDownListFor(m => m.selectedAI1, Model.AIList.Select(AI => new SelectListItem()
                        {
                            Text = AI,
                            Value = AI
                        }))
                    </div>
                </div>

                <div style="float: right; width: 40%">
                    <label>Upload New</label>
                    @Html.CheckBoxFor(m => m.newAI2, new { id = "chkNewAI2" })
                    <br />
                    <div id="divAI2upload" name="" divAI1upload"">
                        <label>Name</label>
                        @Html.TextBox("ID2", "", new { type = "TextBox", @maxlength = "10" })

                        <br />

                        <label>Uplaod AI 2</label>
                        <input type="file" name="AI1" id="AI1" />
                    </div>
                    <div id="divAI2select">
                        <label>Select AI 2</label>
                        @Html.DropDownListFor(m => m.selectedAI2, Model.AIList.Select(AI => new SelectListItem()
                        {
                            Text = AI,
                            Value = AI
                        }))
                    </div>
                    <div style="width:100%; float:left;">
                        <input type="submit" value="Submit" style="float:right; margin-right:110px;" />
                    </div>
                </div>
            </div>

        }

        @ViewBag.Message
    </div>
</body>
</html>
